  <footer>
    <div class="row">
      <center>Made with <span class="entypo-heart-empty"></span> by the best team at MakerSquare</center>
    </div>
  </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://fb.me/react-0.11.1.js"></script>
    <!-- <script src="FullscreenForm/js/classie.js"></script>
    <script src="FullscreenForm/js/selectFx.js"></script>
    <script src="FullscreenForm/js/fullscreenForm.js"></script>
    <script>
      (function() {
        var formWrap = document.getElementById( 'fs-form-wrap' );

        [].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {  
          new SelectFx( el, {
            stickyPlaceholder: false,
            onChange: function(val){
              document.querySelector('span.cs-placeholder').style.backgroundColor = val;
            }
          });
        } );
      })();
    </script> !-->
  </body>
</html>