<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Rock, Paper, Scissors</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="css/style.css">
      <link rel="icon" type="image/x-icon" href="images/facion.ico">
      <script src="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.0.2/js/modernizr.js"></script>
      <link href='http://fonts.googleapis.com/css?family=Raleway:400,200,600' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <header>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">ROCK<strong>PAPER</strong>SCISSORS</a></h1>
        </li>
        <li class="toggle-topbar menu-icon">
          <a href="#"><span>Menu</span></a>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li>
            <% if @user %>
              <a href="/matches" action="/" method="get">You're signed in as Player 1</a>
            <% else %>
              <a href="/">You are not logged in</a>
            <% end %></li>
        </ul>
        <div class="icon-bar one-up right">
          <a href="/signout" action="/signout" method="get">
            <span data-tooltip class="has-tip" title="Logout">
              <i class="entypo-paper-plane"></i>
            </span>
          </a>
        </div>
      </section>
    </nav>
  </header>
