<div id="completed" class="content">
  <h2>Completed Matches</h2>
  <% if @completed_matches.is_a?(Array) %>
    <table>
      <tr>
        <th>Match Name</th>
        <th>Opponent</th>
        <th>Status</th>
        <th>Game 1</th>
        <th>Game 2</th>
        <th>Game 3</th>
        <th>Game 4</th>
        <th>Game 5</th>
      </tr>
    <% @completed_matches.each do |match| %>
      <tr>
      <% if match['status'] == 'complete' %>
        <td><%= match['id'] %></td>
        <td><%= RPS.dbi.get_player_by_id(match['player2']).username %></td>
        <td><%= match['status']%></td>
      <% end %>
      </tr>
    <% end %>
    </table>
  <% else %>
    <strong>You don't have any completed matches.</strong>
  <% end %>
</div>