<div id="main-content">
  <div class="row">
    <div class="large-4 columns">
      <h2>Welcome to RPS Player</h2>
      <strong><a class="signin" href="#">Please sign in</a></strong> or <strong><a href="#" class="signup">sign up</a></strong>
      <%= erb :signin %>
      <%= erb :signup %>
    </div>
    <div class="large-8 columns">
      <img src="images/404.png">
    </div>
  </div>
</div>