<div id="invites" class="content">
  <h2>Invites</h2>
    <% if @pending_matches.first %>
    <% count = 1 %>
    <table>
      <tr>
        <th>Accept</th>
        <th>Match</th>
        <th>Opponent</th>
        <th>Status</th>
      </tr>
    <% @pending_matches.each do |match| %>
      <% if @current_player != RPS.dbi.get_player_by_id(match['player1']).username %>
      <tr>
        <td><a href="/play/<%= match['id'] %>"><span class="entypo-right-circled"></span></a></td>
        <td><%= count %></td>
        <td>
              <%= RPS.dbi.get_player_by_id(match['player1']).username %>

              <!-- play button updates status (pending->active), initiates new game in match (0 games in match to 1),
              routes to unique play page -->
        </td>
        <td><%= match['status']%></td>
        <% count += 1 %>
      <% end %>
      </tr>
    <% end %>
    </table>
  <% else %>
    <strong>You haven't been invited to any matches.</strong>
  <% end %>
</div>