<div id="main-content">
  <div class="cbp-spmenu-push cbp-spmenu-push-toright" id="cbp-spmenu-push">
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
      <h3>Invite</h3>
      <form>
        <input type="text" placeholder="user to invite" />
        <button class="round" type="submit" name="submit">Send Invitation</button>
      </form>
    </nav>
  </div>
  <div class="row">
    <div class="large-6 columns match-table">
      <h2>Active Matches</h2>
      <% if @matches %>
        <table>
          <tr>
            <th>Match Name</th>
            <th>Opponent</th>
            <th>Status</th>
            <th>Game 1</th>
            <th>Game 2</th>
            <th>Game 3</th>
            <th>Game 4</th>
            <th>Game 5</th>
          </tr>
        <% @matches.each do |match| %>
          <tr>
            <td><%= match.id %></td>
          </tr>
        <% end %>
        </table>
      <% else %>
        <strong>You don't have any active matches.</strong>
      <% end %>
    </div>
    <div class="large-6 columns match-table">
      <h2>Completed Matches</h2>
      <% if @matches %>
        <table>
          <tr>
            <th>Match Name</th>
            <th>Opponent</th>
            <th>Status</th>
            <th>Game 1</th>
            <th>Game 2</th>
            <th>Game 3</th>
            <th>Game 4</th>
            <th>Game 5</th>
          </tr>
        <% @matches.each do |match| %>
          <tr>
            <td><%= match.id %></td>
          </tr>
        <% end %>
        </table>
      <% else %>
        <strong>You don't have any completed matches.</strong>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns centered match-table">
      <h2>Pending Matches</h2>
      <% if @matches %>
        <table>
          <tr>
            <th>Match Name</th>
            <th>Opponent</th>
            <th>Status</th>
            <th>Game 1</th>
            <th>Game 2</th>
            <th>Game 3</th>
            <th>Game 4</th>
            <th>Game 5</th>
          </tr>
        <% @matches.each do |match| %>
          <tr>
            <td><%= match.id %></td>
          </tr>
        <% end %>
        </table>
      <% else %>
        <strong>You don't have any pending matches.</strong>
      <% end %>
      <button id="showLeftPush" class="round">Invite a friend to a new game</button>
    </div>
  </div>
</div>