<div id="signin">
  <h2>Sign In</h2>
    <form action='/signin' method='post'>
      <input name="username" type="text" placeholder="username"/>
      <input name="password" type="password" placeholder="password" />
      <button class="round" type="submit" name="submit">SUBMIT</button>
    </form>
</div>