<div id="signup">
  <h2>Sign Up</h2>
  <form action='/signup' method='post'>
    <input name="username" type="text" placeholder="username"/>
    <input name="password" type="password" placeholder="password" />
    <input name="password_confirm" type="password" placeholder="confirm password" />
    <button class="round" type="submit" name="submit">SUBMIT</button>
  </form>
</div>

