<div id="main-content">
  <div class="row">
    <h2>Sign Up</h2>
    <form>
      <input name="username" type="text" placeholder="username"/>
      <input name="password" type="password" placeholder="password" />
      <input name="password_confirm" type="password" placeholder="confirm password" />
      <button class="round" type="submit" name="submit">SUBMIT</button>
    </form>
  </div>
</div>